@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width:100vw;
    height:100vh;
    overflow: hidden;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    padding: 20px;
}
.card {
    max-width: 300px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.qr-code {
    width:100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.card h2 {
    font-size: 20px;
    padding: 0 5px 10px;
    color: hsl(218, 44%, 22%);
}
.card p {
    padding: 0 5px;
    color:  hsl(220, 15%, 55%);
}